//комент не пойдет в CSS-файл

@import "./nullStyles.scss";

$mainColor : indigo;
$secondaryColor :  darkorchid;
$backgroundColor: gray;
$activeColor: goldenrod;

::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
  }

body {
    scrollbar-width: none; 
    
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.wrapper {
    min-height: 100%;
    background-color: $backgroundColor;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.header {
    grid-area: header;
    padding: 15px;
    background-color: $mainColor;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.header__logo {
    grid-column: 2 / 3;
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        &:hover {
            transform: scale(1.1);
            transition: 0.5s;
        }
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }
}
.header__menu {
    grid-column: 3 / 4;
}
.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    li{
        align-self: center;
    }
}
.header__burger {
    display: none;
}
@media (max-width: 992px) {
    .header__list {
        display: none;
        &.active {
            display: block;
            position: absolute;
            top: 90px;
            background-color: $mainColor ;
            padding: 19px;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
            li {
                padding: 15px;
                &:last-child {
                    text-align: center;
                }
            }
        }
    }
    .header__burger {
    width: 30px;
    height: 20px;
    color: ivory;
    display: grid;
    align-items: center;
    grid-template: repeat(3, 8px) / 1fr;
    position: relative;
    
    &:before,
    &:after {
        content: '';
        background-color: ivory;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: 0.5s;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    span {
            background-color: ivory;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }
    &.active:before {
        transform: rotate(45deg);
        top: 8px;
    }
    &.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    &.active{
        span {
            display: none;
        }
    }
    }
    .header__menu {
        display: grid;
        justify-items: end;
        position: relative;
    }
}
.header__link {
    color: ivory;
    font-size: 18px;
    &:hover {
        color: $activeColor;
    }
    &.active {
        color: $secondaryColor;
    }
    img{
        width: 50px;
        height: 50px;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.main {
    padding: 30px 15px;
}

@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 950px) 1fr;
    }
    .sidebar {
        grid-column: 2 / 3;
    }
    .content {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
}

.sidebar {
    background-color: $secondaryColor;
    border-radius: 10px;
    padding: 30px 30px 15px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin: 0px 0px 20px 0px;
}
.sidebar__menu {
}
.sidebar__list {
    li{
        margin: 0px 0px 15px 0px;
        font-size: 18px;
    }
}
.sidebar__link {
    color: ivory;
    font-size: 20px;
    margin: 5px 0px 5px 5px;
    &:hover {
        color: $activeColor;
    }
    &.active {
        color: $mainColor;
        background-color: ivory;
        padding: 3px 5px 5px 5px;
        margin: 5px 0px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }
}

.content {
    margin: 0px 0px 20px 00px;
}
.content__title {
    margin: 0px 0px 20px 0px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: $secondaryColor;
    border-radius: 10px;
    color: ivory;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.content__gallery {
    
}
.gallery {
    background-color: $mainColor;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.gallery__title {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    color: ivory;
}
.gallery__items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery__item {
    position: relative;
    padding: 0px 0px 85% 0px;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
        &:hover {
            border: 5px solid transparent;
            transition: 0.5s;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.0);
        }
    }
}
@media (min-width: 992px) {
    .gallery__item_big {
        grid-column: span 2;
        grid-row: span 2;
    }
}
.gallery__item_big {
    
}
.content__products {
    
}
.products {
    background-color: $mainColor;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.products__items {
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-auto-rows: 1fr;
}
.products__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto auto auto 1fr minmax(40px, auto) / 1fr;
}
.products__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: ivory;
        padding: 15px;
        &:hover {
            // border: 3px solid transparent;
            padding: 10px;
            transition: 0.5s;
        }
    }
}
.products__name {
    font-size: 20px;
    color: ivory;
    line-height: 30px;
    margin: 0px 0px 0px 0px;
    background-color: $backgroundColor;
    padding: 15px;
    text-align: center;
    &:hover {
        color: $mainColor;
    }
}
.products__technologies {
    font-size: 16px;
    padding: 15px;
    text-align: center;
    background-color: $secondaryColor;
    display: flex;
    flex-wrap: wrap;
}
.products__description {
    font-size: 16px;
    padding: 15px;
    border-bottom-left-radius: 10px;
    background-color: ivory;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.products__button {
    color: ivory;
    background-color: $secondaryColor;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    justify-self: end;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    &:hover {
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        transition: 0.5s;
        color: $mainColor;
    }
}

.content__about {
}
.about {
    min-height: 400px;
    background-color: $mainColor;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.about__text {
    background-color: ivory;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    min-height: 356px;
}

.content__aboutMe {
}
.aboutMe {
    background-color: $mainColor;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    display: grid;
    grid-template: auto auto / minmax(300px, 500px) auto;
}
.aboutMe__title {
    grid-column: span 2;
}
.aboutMe__image {
    padding: 0px 0px 10px 0px;
    text-align: center;
    img {
        border-radius: 20px;
        max-height: 400px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }
}
// .aboutMe__image {
//     position: relative;
//     padding: 0px 0px 85% 0px;
//     max-height: 300px;
//     margin: 0px 0px 20px 0px;
//     img {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         object-fit: contain;
//     }
// }
.aboutMe__text {
    font-size: 16px;
    background-color: ivory;
    border-radius: 10px;
    padding: 15px 15px 20px 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
@media (max-width: 770px) {
    .aboutMe {
        display: block;
    }
}

.content__skills {
}
.skills {
    min-height: 476px;
    background-color: $mainColor;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.skills__text {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.content__work {
}
.work {
    
    background-color: $mainColor;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.work__items {
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.work__item {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    background-color: $backgroundColor;
    border-radius: 15px;
    grid-template: 50px 50px 200px 50px 1fr/ 1fr;
}
.work__date {
    display: grid;
    grid-template: 1fr/ 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 2px 0px;
}
.work__dateItem {
    background-color: ivory;
    border-radius: 10px;
    margin: 5px;
    padding: 4px 5px 6px 5px;
    color:$mainColor;
    &:hover {
        // padding: 5px 10px;
        transition: 0.5s;
        background-color: $activeColor;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    }
}

.work__image {
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-height: 180px;
        max-width: 220px;
        padding: 5px;
        &:hover {
            padding: 0px;
            transition: 0.5s;
        }
    }
}
.work__name {
    font-size: 20px;
    color: ivory;
    padding: 15px;
    background-color: $secondaryColor;
    &:hover {
        color: $mainColor;
    }
}
.work__position {
    font-size: 16px;
    color: ivory;
    padding: 15px;
    background-color: $secondaryColor;
}
.work__description {
    padding: 15px;
    background-color: $backgroundColor;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.footer {
    grid-area: footer;
    background-color: $mainColor; 
    padding: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 900px) 1fr;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.footer__copy {
    color: ivory;
}
.footer__menu {
    a {
        color: ivory;
    }
}
@media (min-width: 550px) {
    .footer__copy {
        grid-column: 2 / 3;
    }
    .footer__menu {
        grid-column: 3 / 4;
    }
}
@media (max-width: 550px) {
    .footer {
        grid-template: 1fr 1fr/ 1fr;
    }
    .footer__copy {
        order: 2;
    }
    .footer__menu {
        order: 1;
        padding: 15px 0px;
    }
}

.cellItem {
    background-color: ivory;
    border-radius: 10px;
    margin: 5px;
    padding: 4px 5px 6px 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    &:hover {
        // padding: 5px 10px;
        transition: 0.5s;
        background-color: $activeColor;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    }
}