.swiper-container#about {
  max-width: 500px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.swiper-container#aboutMe {
  max-width: 100%;
  margin: 0px 10px 20px 0px;
  border-radius: 10px;
}

.swiper-wrapper#about {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.swiper-wrapper#aboutMe {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media (max-width: 550px) {
  .swiper-container#about {
    max-width: 400px;
  }
  .swiper-container#aboutMe {
    max-width: 400px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: goldenrod;
}

.swiper-pagination-bullet {
  background-color: goldenrod;
}
